<!DOCTYPE html>
<html lang="et">
<head>
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Teisendamine</title>
</head>
<body>
<div class="content">
    <h1 class="text-align" id="teisendamine-title">Teisendamine</h1>
</div>
<div id="conversion-app">
</div>
<!-- Need peavad olema koige lopus!!!!!! -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="conversion.production.min.js" type="text/jsx"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</body>
</html>
