---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inku ruulib!">
    <body>
        <h1 class="text-7xl font-bold text-emerald-500 text-center pt-20">hic sunt dracones</h1>
    </body>
</Layout>
