---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inku eksib!">
    <body>
        <h1 class="text-7xl font-bold text-emerald-500 text-center pt-20">Hic sunt dracones.</h1>
    </body>
</Layout>
