---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.tsx";
---

<Layout title="Inku ruulib!">
	<body>
	<div class="h-screen">
		<h1 class="text-7xl font-bold text-emerald-500 text-center pt-20">Tervist!</h1>
		<div class="justify-evenly flex text-center flex-col items-center bg-neutral-900 flex-wrap">
			<Button link={"trains"} text={"Rongiajad"} />
			<Button link={"https://wolfreealpha.on.fleek.co/input/index.html"} text={"Yowza, Wolfree!"} />
			<Button link={"clocks"} text={"Koolikellad"} />
			<div class="lg:block lg:basis-full lg:h-0 hidden" />
		</div>
	</div>
	</body>
</Layout>
