---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.tsx";
---

<Layout title="Inku ruulib!">
	<body>
		<h1 class="text-7xl font-bold text-emerald-500 text-center pt-20">How is work in the lunch room, Frankie?</h1>
		<div class="justify-evenly flex text-center lg:flex-row flex-col items-center bg-neutral-900 flex-wrap">
			<Button link={"trains"} text={"rongid"} />
			<Button link={"https://wolfreealpha.on.fleek.co/input/index.html"} text={"yowza, wolfree!"} />
			<Button link={"clocks"} text={"kellad"} />
			<div class="lg:block lg:basis-full lg:h-0 hidden" />
			<Button link={"https://jellyfin.ingvarruulib.com/web/#!/home.html"} text={"audiovisual media"} />
			<Button link={"https://navidrome.ingvarruulib.com/app/#/login"} text={"aural media"} />
			<Button link={"https://audiobooks.ingvarruulib.com"} text={"literary media"} />
			<div class="lg:block lg:basis-full lg:h-0 hidden" />
			<h6 class="text-3xl font-bold text-emerald-500 text-center pt-20">It's alright.</h6>
			<h6 class="text-3xl font-bold text-emerald-500 text-center pt-20">Poor Frankie...</h6>
		</div>
	</body>
</Layout>
