---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.tsx";
---

<Layout title="Inku ruulib!">
	<body>
		<h1 class="text-7xl font-bold text-emerald-500 text-center pt-20">jou</h1>
		<div class="justify-evenly flex text-center lg:flex-row flex-col items-center bg-neutral-900 flex-wrap">
			<Button link={"trains"} text={"rongid"} />
			<Button link={"https://wolfreealpha.on.fleek.co/input/index.html"} text={"yowza, wolfree!"} />
			<Button link={"clocks"} text={"kellad"} />
			<div class="lg:block lg:basis-full lg:h-0 hidden" />
			<Button link={"https://organizr.ingvarruulib.com"} text={"media"} />
			<div class="lg:block lg:basis-full lg:h-0 hidden" />
		</div>
	</body>
</Layout>
