---
import Layout from '../layouts/Layout.astro';
import TrainsApp from "../components/TrainsApp.tsx";
---

<Layout title="Time...">
    <body>
        <TrainsApp client:only="react" />
    </body>
</Layout>
