<!DOCTYPE html>
<html lang="et-EE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Aive Kardinad müüb kardinaid ning muid asju" name="description">
    <meta content="Kardin, kardinad, tekstiilkardin, tekstiilkardinad, ruloo, rulood, rulookardin, rulookardinad, püstlamell, püstlamellid, püstlamellkardin, püstlamellkardinad, ribakardin, ribakardinad, puitribakardin, puitribakardinad, plisseerkardin, plisseerkardinad, aknakate, aknakatted, tehniline kardin, tehnilised kardinad, uks, uksed, voldikuks, voldikuksed, liuguks, liuguksed" name="keywords" />
    <title>Aive Kardinad</title>
    <link href="theme.css" rel="stylesheet" type="text/css">
</head>
<body>
<header id="top">
    <div class="navbar">
        <a class="top-button" href="#top">Aive Kardinad</a>
        <a class="contact-button" href="#contact">Kontakt</a>
    </div>
</header>
<nav id="navigation">
    <div class="top-button-container">
    <a class="top-button-mobile" href="#top">Aive Kardinad</a>
    </div>
    <div id="menuToggle">

        <input type="checkbox" />

        <!--Hamburgeri menüü-->
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="#top"><li>Aive Kardinad</li></a>
            <a href="#meist"><li>Meist</li></a>
            <a href="#tooted"><li>Tooted</li></a>
            <a href="#contact"><li>Kontakt</li></a>
            <a href="https://www.facebook.com/Aivekardinad"><li>Facebook</li></a>
            <a href="teenused.html"><li>Teenused</li></a>
            <a href="tehtud.html"><li>Tehtud tööd</li></a>
            <a href="galerii.html"><li>Galerii</li></a>
        </ul>
    </div>
</nav>
<div class="image">
    <img alt="Kardinad" class="main-image" srcset='pictures/klassika4.jpg 885w,pictures/klassika_medium.jpg 664w,pictures/klassika_small.jpg 221w' >
</div>
<div id="avaleht"></div>
<div class="navbar">
    <a class="navbar-item" href="#avaleht" id="navbar-avaleht">Avaleht</a>
    <a class="navbar-item" href="#meist" id="navbar-meist">Meist</a>
    <a class="navbar-item" href="#tooted" id="navbar-tooted">Tooted</a>
    <a class="navbar-item" href="teenused.html" id="navbar-teenused">Teenused</a>
    <a class="navbar-item" href="https://www.facebook.com/Aivekardinad" id="navbar-soovitused">Facebook</a>
    <a class="navbar-item" href="tehtud.html" id="navbar-tehtud">Tehtud tööd</a>
    <a class="navbar-item" href="galerii.html" id="navbar-galerii">Galerii</a>
    <a class="navbar-item" href="#contact" id="navbar-contact">Kontakt</a>
</div>
<div class="avaleht-content">
    <p class="avaleht-paragraph">Kardinamaailm on suur ja lai.
        Ammu enam pole kardinad pelgalt kangatükk akna ees, vaid võib olla sinu kodu eredaim sisustuselement,
        mis köidab pilku ja pakub silmailu. Aknakatetel on rohkelt erinevaid stiile ja mudeleid - kõigepealt
        tulekski otsustada, kas lahendada olukord tekstiil-või tehniliste kardinatega. <br>
        <br>
        <strong>Tekstiilkardinad</strong>  jaotuvad klassikalisteks ja tänapäevasteks. Möödunud ajastu stiil soosis rohket kangakasutust
        ja pakse materjale. Kasutati enamasti  üla- ja külgkardinat. Interjööri andsid luksust austria ja prantsuse kardinad. <br>
        <br>
        Tänapäevane kardinastiil on aga muutunud lihtsamaks - kangad on kergemad ja õhulisemad ning ka mustrite poolest
        mitmekesisemad ja põnevamad. Juba lihtsa vormiga saab esile tuua nende ilu. Sellise kanga võib akende ette
        riputada ööside, trippide, rooma- või paneelkardinana või hoopis vabastiilis. <br>
        <br>
        Kardinaid valides tuleks läbi mõelda, millist eesmärki konkreetne aknakate täitma peaks.
        Kas soovitakse kasutusmugavust, kaitse võõraste pilkude eest, varju päikese eest, disainielementi või hoopis kõiki neid omadusi koos. <br>
        <br>
        <strong>Tehniliste kardinate</strong> sortiment samuti piisavalt suur, et igaüks leiaks siit hea lahenduse. Nt püstlamellid oma
        vertikaalsete kangalamellidega annavad ruumile soliidse ja rahuliku olemuse. Aga võib valida ka pikalt kasutuses
        olnud ruloode või ribakardinate seast. Uue kardinana on het kel väga populaarne plisseerkardin, mis on tuntust
        kogumas oma mugava käsitluse ja kaunite värvide-mustritega.
        <span id='meist'></span>
    </p>
</div>
<div class="meist-content">
    <h1 class="text-align">Kes me oleme?</h1>
    <p class="meist-paragraph">OÜ Uksed & Kardinad on 1995. aastal asutatud erinevat tüüpi aknakatete ning uste müügiga
        tegelev ettevõte. 2009. aastal muutsime nime lihtsamaks - <strong>Aivekardinad OÜ.</strong> <br>
        <br>
        Meie tootevalikusse kuuluvad kõik tuntud aknakatete ja lükanduste liigid, millest levinumad on ribakardinad,
        rulookardinad, lamellkardinad ning lükand- ja peegelliuguksed. Lisaks eelnimetatuile pakume ka “rätsepa“ tüüpi
        lahendusi tekstiilkardinate näol. Tehes aktiivset koostööd professionaalsete sisekujundajate ja õmblejatega,
        suudame alati tagada just Teie soovidele vastavad ja konkreetse ruumi eripärasid arvestavad ning sinna sobilikud tekstiilkardinaid. <br>
        <br>
        Et pakkuda oma klientidele võimalikult paindlikke lahendusi ja tagada laialdane valikuvõimalus, teeme koostööd
        kõigi Eesti suurimate aknakatete tootjatega. Meie partneriteks on nii Avaeksperdid, Sunorek kui ka Sundecor,
        kelle kvaliteetsed materjalid ning operatiivsed tellimuste täitmised garanteerivad klientidele hea teeninduse ja rahulolu. <br>
        <br>
        Kardinad ja uksed on iga kodu ning büroo väga olulised komponendid, olles sageli ka ehitise visiitkaardid.
        Just see on põhjus, miks soovime oma klientidele vaid parimaid lahendusi ja ruumikujundusi. <br>
        <br>
        <strong>Meie juhtideeks on, et klient peab saama parima pakkumise vähimate kuludega.</strong> <br>
        <br>
        <strong><u>MIKS VALIDA AIVEKARDINAD OÜ?</u></strong><br>
        <ul class="list-reasons">
            <li>Suur materjalide & värvitoonide valik;</li>
            <li>Esindades erinevaid tootjaid suudame pakkuda kõige paindlikumaid lahendusi;</li>
            <li>Säästame kliendi aega ja raha, tulles alati ise kliendi juurde ning teostades objekti ülevaatuse;</li>
            <li>Pakume sisekujunduse konsultatsioone & professionaalseid ruumilahendusi;</li>
            <li>Anname paigaldatud toodetele garantii.</li>
        </ul>
    </p>
</div>
<h1 class="text-align" id="tooted">Meie tooted</h1><div id="root">
    <p class="tooted-text">Tel. 53736464</p>
    <a class="tooted-text" href="mailto:info@aivekardinad.ee">info@aivekardinad.ee</a>
</div>
<div class="contact-all">
<h1 class="text-align" id="contact">Kontakt</h1>
<div class="contact-content">
    <div class="contact-juhataja">
        <h4>Juhataja: Aive Pajumaa</h4>
        <p>Mobiil: +372 53736464</p>
        <p>Aadress: Tartumaa, Kastre vald</p>
        <p>E-mail: aive@aivekardinad.ee</p>
        <a style='color: white;' href='https://www.facebook.com/Aivekardinad'>Facebook: Aivekardinad</a>
    </div>
    <div class="contact-company">
        <h4>OÜ AIVEKARDINAD </h4>
        <p>Reg nr: 10801244</p>
        <p>KMKR: EE100720578</p>
        <p>LHV: a/a EE457700771003024590</p>
    </div>
</div>
</div>
<script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="script.bundle.js"></script>
</body>
</html>
