---
interface Props {
	title: string;
	header: string;
}

const { title } = Astro.props;
const { header: string } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Ma ju ilmselgelt ruulin!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="/wosh.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<main class="w-screen lg:h-screen bg-neutral-900">
		<slot />
	</main>
</html>
